* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.mi-navbar {
  position: absolute;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.mi-navbar ul {
  padding: 0;
  display: flex;
  margin: 0px 50px 0px 0px;
}
.mi-navbar ul li {
  width: 100px;
  height: 65px;
  list-style: none;
}
.mi-navbar ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
}

.hover:hover {
  transition: all, 0.5s;
  background-color: rgba(245, 222, 179, 0.5);
  color: black;
  text-decoration: overline;
}

.g1 {
  grid-area: g1;
}

.g2 {
  grid-area: g2;
}

.g3 {
  grid-area: g3;
}

.g4 {
  grid-area: g4;
}

.g5 {
  grid-area: g5;
}

.g6 {
  grid-area: g6;
}

.g7 {
  grid-area: g7;
}

.g8 {
  grid-area: g8;
}

.g9 {
  grid-area: g9;
}

.g10 {
  grid-area: g10;
}

.g11 {
  grid-area: g11;
}

.g12 {
  grid-area: g12;
}

.flex {
  display: flex;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ai-stretch {
  align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
}

.ac-start {
  align-content: flex-start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

.ac-evenly {
  align-content: space-evenly;
}

.ac-stretch {
  align-content: stretch;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.text-align-start {
  text-align: start;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.fd-column {
  flex-direction: column;
}

.no-wrap {
  flex-direction: nowrap;
}

.portada {
  height: 844px;
  padding: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 844px;
  object-fit: cover;
  z-index: -1;
}

.baturi {
  font-size: 10em;
  color: wheat;
  font-weight: bold;
}

.subtitulo {
  display: inline-block;
  position: relative;
  font-size: 3em;
  color: whitesmoke;
}

.portada-button:hover {
  background-color: wheat;
  color: black;
  border: 0px;
  box-shadow: inset -1px 1px 6px 0px rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}

.portada-button {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border: 1px solid wheat;
  box-shadow: inset -3px 3px 4px 0px rgba(0, 0, 0, 0.9);
  padding: 5px 20px 5px 20px;
  margin: 5px;
  border-radius: 15px;
  width: 15%;
  text-wrap: nowrap;
}

.grid-main {
  grid-template-areas: "g1" "g2";
}

.cuerpo {
  background-color: antiquewhite;
  height: 100vh;
  overflow: auto;
  width: 100%;
  padding-top: 50px;
}

.tarjeta-left {
  display: grid;
  grid-template-areas: "g3 g3 g1 g1" "g3 g3 g2 g2";
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-rows: 25% 75%;
  border-radius: 20px;
  margin: 20px;
  margin-right: 35%;
  width: 60%;
  background-color: beige;
  height: 422px;
  font-size: 32px;
}
.tarjeta-left .g3 {
  background-image: url(Multimedia/malthouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.tarjeta-left .g1 {
  padding: 20px;
  font-size: 1em;
}
.tarjeta-left .g2 {
  padding: 15px;
  font-size: 0.6em;
}

.tarjeta-right {
  display: grid;
  grid-template-areas: "g1 g1 g3 g3" "g2 g2 g3 g3";
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 25% 75%;
  border-radius: 20px;
  margin: 20px;
  margin-left: 35%;
  width: 60%;
  background-color: beige;
  height: 422px;
  font-size: 32px;
}
.tarjeta-right .g3 {
  background-image: url(Multimedia/malthouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.tarjeta-right .g1 {
  padding: 20px;
  font-size: 1em;
}
.tarjeta-right .g2 {
  padding: 15px;
  font-size: 0.6em;
}

.titulo {
  margin-top: 80px;
  padding-top: 40px;
  margin-bottom: 80px;
  padding-bottom: 40px;
  width: 80%;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
  text-align: center;
}

.contact-form {
  margin: 30px;
  width: 40%;
  padding: 30px;
  background-color: rgb(168, 125, 94);
  border-radius: 15px;
  box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.contact-form p {
  color: white;
}
.contact-form label {
  color: white;
  margin-left: 5px;
}
.contact-form input {
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  margin: 5px;
}
.contact-form button {
  background-color: wheat;
  color: black;
  border: 1px;
  box-shadow: inset -1px 1px 6px 0px rgba(0, 0, 0, 0.9);
  padding: 5px 0px 5px 0px;
  margin: 5px;
  border-radius: 15px;
  width: 25%;
  font-size: 12px;
  text-align: center;
}
.contact-form button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid wheat;
}
.contact-form button:active {
  background-color: white;
  color: black;
}

footer {
  background-color: burlywood;
  height: 20%;
  width: 100%;
  color: brown;
  padding-top: 30px;
  flex-grow: 1;
  box-shadow: -1px 0px 7px 0px rgb(0, 0, 0);
}
footer div h4 {
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}
footer div a {
  font-size: 30px;
  padding: 10px;
}

.redes a {
  color: brown;
  padding: 5px;
}
.redes a:hover {
  color: wheat;
}

.firma {
  margin-top: 50px;
}
.firma h5 {
  font-size: 15px;
}

@media (min-width: 640px) {
  .bootstrap-navbar {
    display: none;
  }
}
@media (max-width: 640px) {
  .mi-navbar {
    display: none;
  }
  .baturi {
    font-size: 6em;
  }
  .subtitulo {
    font-size: 2em;
    color: whitesmoke;
  }
  .portada-button {
    width: 30%;
  }
  .cuerpo {
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .tarjeta {
    display: grid;
    grid-template-areas: "g3 g3" "g3 g3" "g1 g1" "g2 g2";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 40%;
    border-radius: 20px;
    margin: 20px;
    width: 80%;
    height: 633px;
    font-size: 32px;
  }
  .tarjeta .g3 {
    background-image: url(Multimedia/malthouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .tarjeta .g1 {
    padding: 20px;
    font-size: 1em;
  }
  .tarjeta .g2 {
    padding: 15px;
    font-size: 0.6em;
  }
  .contact-form {
    margin-bottom: 120px;
    width: 80%;
  }
  .contact-form button {
    padding: 5px 0px 5px 0px;
    width: 25%;
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilos.css.map */
