*{
    margin: 0;
    padding: 0;
}


$content: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
    stretch: stretch,
    baseline: baseline
);

.mi-navbar {
    background-color: black;
    height:50px;
    width:100vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;

    ul {
        padding: 0;
        display: flex;
        margin: 0px 50px 0px 0px;

        li{
            width:100px;
            height:65px;
            list-style: none;
            
            a{
                text-decoration: none;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.hover:hover{
    color:black;
    background-color: white;
}

@for $i from 1 to 13 {
    .g#{$i}{
        grid-area: g#{$i}; 
    }
}

.flex{
    display: flex;
}

@each $position in start center end between around evenly{
    .jc-#{$position}{
    justify-content: map-get($content, $position);
    }
}

@each $position in start center end stretch baseline{
    .ai-#{$position}{
    align-items: map-get($content, $position);
    }
}

@each $position in start center end between around evenly stretch{
    .ac-#{$position}{
    align-content: map-get($content, $position);
    }
}

.fd-column{
    flex-direction: column;
}

.no-wrap{
    flex-direction: nowrap;
}






@media (min-width:640px) {
    .bootstrap-navbar{
        display: none;
    }
}

@media (max-width:640px) {
    .mi-navbar{
        display: none;
    }
}

@media (min-width:641px) and (max-width:1007px) {
}

@media (min-width:1008px) {
}


